*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #95d5b2;
}

#main-oficial{
    width: 900px;
    height: auto;;
    margin: 45px auto 0 auto;
    background-color: #d8f3dc;
    border-radius: 6px;
}